<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogToConsole="true">
 
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.Logging"/>
		<add assembly="SampleLogs.NLogKafka"/>
	</extensions>
 
	<targets >
		<!-- File Target for kafka log messages with extra web details using some ASP.NET core renderers -->
		<target
            type ="Kafka"
            name="kafka"
            topic="${configsetting:cached=True:item=LogConfig.Topic}"
			acronyms="${configsetting:cached=True:item=LogConfig.Acronyms}"
            bootstrapServers="${configsetting:cached=True:item=LogConfig.BootstrapServers}"
			test="${configSettingData:cached=True:item=LogConfig}"
			requestId="${mdlc:item=requestId}"
			hostname="${environment:POD_HOSTNAME}"
			application="${environment:HOSTNAME}"
			aspNetEnvironment="${environment:ASPNETCORE_ENVIRONMENT}"
		/>
		<target
            type ="CustomConsole"
            name="customConsole"
            topic="${configsetting:cached=True:item=LogConfig.Topic}"
			acronyms="${configsetting:cached=True:item=LogConfig.Acronyms}"
            bootstrapServers="${configsetting:cached=True:item=LogConfig.BootstrapServers}"
			test="${configSettingData:cached=True:item=LogConfig}"
			requestId="${mdlc:item=requestId}"
			hostname="${environment:POD_HOSTNAME}"
            application="${environment:HOSTNAME}"
            aspNetEnvironment="${environment:ASPNETCORE_ENVIRONMENT}"
        />
		<target xsi:type="Console" name="logConsole" />
		 
				<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
		</targets>
		 
	<rules>
		<logger name="*" minlevel="Trace" writeTo="kafka" />
		<logger name="*" minlevel="Trace" writeTo="customConsole" />
		 
				<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
		 
				<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="logConsole" />
 
	</rules>
</nlog>